<% title "Search Your News Feed"%>
<h1><%= yield :title -%></h1>

<% @search_results["data"].each do |res| -%>
	<div class="search_result">
		<div class="status_box">
			<%= res["type"] -%>:
		</div>
		<%= res["message"] -%>
	</div>
<% end -%>