<% title "Your friend change list" -%>
<h1><%=yield :title -%></h1>
<%= render :partial => "/layouts/friend_list_template", :locals => { :connections => connections, :queued => @queued, :timing => @timing} -%>
