<% title "Your friend change list" -%>
<h1><%=yield :title -%></h1>
<ul class="change_list">
<% if connections.empty? -%>
	<li class="profile_info">No changes in your list of friends.  Yet.</li>
<% else%>
	<li class="profile_info">
		Your friend list activity for the last 30 days:
	</li>
	<% connections.each do |connection| %>

	<li>
	  <% if connection.last_action == 'defriend'%>
		<div class="error">
		<span class="error"></span>
	  <% elsif connection.last_action == 'cancelled' -%>
		<div class="warning">
		<span class="warning"></span>
	  <% else %>
		<div class="notice">
		<span class="notice"></span>
	  <% end %>
	  		<%= connection.friend_name %>:
			<%= connection.last_action.capitalize %>
		</div>
		<div class="clear"></div>
	</li>

	  <% end -%>
	</ul>
<% end -%>
