<li>
	<div class="notice_item">
	<span class="notice_item"></span>
		Johnny Chimpo:<br />
		Reactivated Account
	</div>
	<div class="clear"></div>
</li>
<li>
	<div class="error_item">
	<span class="error_item"></span>
		Sparky McTalksalot:<br />
		Defriended
	</div>
	<div class="clear"></div>
</li>