<p>
	If you have any questions about the service, please <%= link_to 'check out our FAQ', faq_url -%>. <br />
	If you're already sick of us, you can <%= link_to 'unsubscribe', :host => 'www.defriendalize.com', :controller => :users, :action => :unsubscribe, :uid => user.uid -%>
</p>