<html>
<body>
	<p>
		Hey there <%= @user.name -%>,
	</p>
	
	<p>
		We're sorry you deleted your account.  Unfortunately this is something that cannot be undone.  However, if you'd ever like to start tracking your friend list again from scratch, we're happy to have you back as a part of the Defriendalize family.
	</p>
	
	<p>
		Have a good one,<br />
		The Defriendalize Team
	</p>
</body>
</html>
