<html>
<body>
	<p>
		Hey there <%= @user.name -%>,
	</p>
	
	<p>
		It looks like you've either changed your Facebook password or it's been a really long time since you last logged into our site.  This means we can't keep tracking your friend changes until you return to the site and login again.
	</p>
	
	<p>
		You can login by following this link:<br /> 
	</p>
	
	<p>	
		<a href="http://www.defriendalize.com/session/facebook_login">http://www.defriendalize.com/session/facebook_login</a><br />
	</p>
	
	<p>
		You can either click on the link, or copy it and paste it into your browser.  Your choice.	
	</p>
	
	<p>
		We hope to see you again soon,<br />
		The Defriendalize Team
	</p>
</body>
</html>
