<% title "Our Privacy Policy" -%>
<div class="friend_list_holder">
	<h1><%= yield :title -%></h1>
	<ul class="faq_list">
		<li class="faq_question">Privacy Policy</li>
		<li class="answer">We collect some of your personal data when you sign up for our service.  We will never sell your data and we will never spam you.</li>
		<li class="answer">When you delete your account, all information we hold will be deleted as well.</li>
		<li class="answer">If you have any questions about our policy and your data, please send us an email.</li>
	</ul>
</div>
<div class="clear"></div>

