body {
	background-color: #696969; 
	font: 14px arial, sans-serif;
	color: #464544;
	padding-bottom: 10px;
}

.main-holder {
	background-color: #696969; 
	font: 16px arial, sans-serif;
	width:80%;
	/*float:left;*/
	margin: 0px auto;
}
.main-content{
	background-color: #fff;
	padding:10px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.friend_list_holder{
	background-color:#fff;
	width:65%;
	float:left;
}
.friend_list_holder p{
	padding:20px;
	font: 16px arial, sans-serif;
}
.rhs_ads_holder{
	float:right;
	font: 18px arial, sans-serif;	
	width:34%;
	background-color:#fff;
}
.rhs_ad{
	margin-right:auto;
	margin-left:auto;
	width:320px;
	padding:10px;
	height:270px;
}
.profile_info{
	font: 18px arial, sans-serif;	
	padding:8px;
}
.faq_question{
	font-style:bold;
	font-size:18px;
	padding:8px 0px;
}
.answer{
	padding:8px;
}
h2 {
	text-align: left;
}
h1 {
	padding-left:15px;
}
.footer-tag{
	padding: 10px 20px 10px 10px;
	color:#eee;
	display:inline-block;
}
.footer-tag a { color: #eee; }
.footer-tag a:visited { color: #eee; }
.footer-tag a:hover { color: #eee; background-color:#696969; }
.top-button{  /* top right bottom left */
	text-align:center;
	background-color: #fff;
	width:10%;
	float:left;
	margin: 10px 10px 10px 0px;
	padding: 10px 20px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.sign-in-area{
	text-align:center;
	background-color: #fff;
	/*width:40%;*/
	float:right;
	margin: 10px 0px;
	padding: 10px 20px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.sign-in-area img{
	vertical-align:middle;
}
.left-holder {
	font:16px arial, sans-serif;
	width:15%;
	float:left;
}
.left-nav-holder{
	padding-top:50px;
	width:100%;
}
.left-nav-button{  /* top right bottom left */
	text-align:center;
	background-color: #fff;
	width:70%;
	margin: 10px;
	padding: 10px 20px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.search_result{
	padding:10px;
}
.status_box{
	width:50px;
	text-align:left;
	margin:3px;
	padding:8px 10px;
	background-color: #bff;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.username {
	font-weight:bold;
}
.clear{
	clear:both;
}
.change_list, #change_list{
	list-style-type:none;
}
.faq_list{
	list-style-type:none;
}
li{
	margin-bottom:-4px;
}
.omniauth_button{
	margin:10px;
	border:0px	;
}
.notice,
.warning,
.error {
  font-size: 18px;
  padding: 15px 10px;
  margin-bottom:-20px;
  width:500px;
}

.notice span,
.warning span,
.error span {
  float: left;
  width: 42px;
  height: 48px;
  margin-top:-5px;
}

.notice {
  background: url(../images/flash-notice-bg.jpg) repeat-x left top;
  color: #41612f; 
  border:#41612f 1px solid;
}
.notice span {
  background: url(../images/flash-check.png) no-repeat 5px 7px;
  border:none;
}

.warning {
  background: url(../images/flash-warning-bg.jpg) repeat-x left -10px;
  color: #a26a1a;
  border:#a26a1a 1px solid;
}
.warning span {
  background: url(../images/flash-warning.png) no-repeat 5px 7px;
  border:none;
}

.error {
  background: url(../images/flash-error-bg.jpg) repeat-x left -10px;
  border:#af0100 1px solid;
  color: #af0100;
}
.error span {
  background: url(../images/flash-error.png) no-repeat 5px 7px;
  border:none;
}
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #000; background-color:#fff; }

a.image_link {color: #fff; background-color:#fff; text-decoration: none;}
a.image_link:visited {color: #fff; background-color:#fff;}
a.image_link:hover {color: #fff; background-color:#fff; text-decoration: none;}

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
