body {
	background-color: #696969; 
	font: 14px arial, sans-serif;
	color: #464544;
	padding-bottom: 10px;
}

.main-holder {
	background-color: #696969; 
	font: 16px arial, sans-serif;
	width:80%;
	/*float:left;*/
	margin: 0px auto;
}
.main-content{
	background-color: #fff;
	padding:10px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.friend_list_holder{
	background-color:#fff;
	width:60%;
	float:left;
}
.rhs_ads_holder{
	float:right;
	font: 18px arial, sans-serif;	
	width:40%;
	background-color:#fff;
}
.rhs_ad{
	margin-right:auto;
	margin-left:auto;
	width:320px;
	padding:10px;
	height:270px;
}
.profile_info{
	font: 18px arial, sans-serif;	
	padding:8px;
}
.faq_question{
	font-style:bold;
	font-size:18px;
	padding:8px 0px;
}
.answer{
	padding:8px;
}
h2 {
	text-align: left;
}
h1 {
	padding-left:15px;
}
.top-button{  /* top right bottom left */
	text-align:center;
	background-color: #fff;
	width:10%;
	float:left;
	margin: 10px 10px 10px 0px;
	padding: 10px 20px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.sign-in-area{
	text-align:center;
	background-color: #fff;
	/*width:40%;*/
	float:right;
	margin: 10px 0px;
	padding: 10px 20px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.sign-in-area img{
	vertical-align:middle;
}
.left-holder {
	font:16px arial, sans-serif;
	width:15%;
	float:left;
}
.left-nav-holder{
	padding-top:50px;
	width:100%;
}
.left-nav-button{  /* top right bottom left */
	text-align:center;
	background-color: #fff;
	width:70%;
	margin: 10px;
	padding: 10px 20px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.search_result{
	padding:10px;
}
.status_box{
	width:50px;
	text-align:left;
	margin:3px;
	padding:8px 10px;
	background-color: #bff;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.username {
	font-weight:bold;
}
.clear{
	clear:both;
}
.change_list{
	list-style-type:none;
}
.faq_list{
	list-style-type:none;
}
li{
	margin-bottom:-4px;
}
.omniauth_button{
	margin:10px;
	border:0px	;
}
