<table>
  <tr>
    <th>User ID</th>
    <th>Name</th>
  </tr>
  <% @users.each do |user| -%>
  <tr>
	<td><%= user.id -%></td>
	<td><%= user.name -%></td>
	<td><%= user.created_at -%></td>
  </tr>
  <% end -%>
</table>