<% title "About Us" -%>
<div class="friend_list_holder">
	<h1><%= yield :title -%></h1>
	<ul class="faq_list">
		<li class="answer">Well, about me, really.  Hi, I'm Kevin.  I have dark hair, like warm beer and don't really like walks on the beach at sunset.  I'm usually a member of the 'peanut gallery' that people seem to find inappropriate at fancy functions.  I make bad jokes when I'm uncomfortable, and really bad jokes when I'm comfortable.</li>
	</ul>
</div>