<% title "About Us" -%>
<div class="friend_list_holder">
	<ul class="faq_list">
		<li class="answer">Hi, Everybody!  Defriendalize is an app to help you monitor your Facebook friend list.  Have you ever noticed your number of friends drops every now and then?  If you had been tracking your friend list with Defrienalize, then you would be able to tell who has defriended you, and who has just canceled their account.  Will it solve global warming and put a warm meal on every table?  No.  But it can be interesting, and that's the angle I'm after.
		</li>
		<li class="answer">And I might as well talk about myself while we're at it (it is, after all, what I'm best at).  I'm Kevin.  I have dark hair, like warm beer and don't really like walks on the beach at any time of day.  I'm usually a member of the 'peanut gallery' that people seem to find inappropriate at fancy functions.  I make bad jokes when I'm uncomfortable, and really bad jokes when I'm comfortable.  I like coding in my spare time, and this is one of the fruits of my labor.  I hope you like it.  If not, <span class="struck">fuck off</span> please <%= link_to 'let me know why', contact_us_path -%> so I can improve the experience for everyone.  If you want, you can follow me on Twitter: @kevinrpope.
		</li>
		<li class="answer">Some of the images we've <span class="struck">cannibalized</span> used on the site are from <%= link_to 'Ryan Heath\'s', 'http://rpheath.com/', :target => "_blank" %> great <%= link_to 'pretty flash messages plugin', 'http://rpheath.com/posts/379-rails-plugin-for-pretty-flash-messages', :target => "_blank" %> for Rails.  If you want some good-looking notification messages, I suggest using it.
		</li>
	</ul>
</div>