<% title "Contact Us" -%>
<div class="friend_list_holder">
	<ul class="faq_list">
		<li class="answer">If you'd like to drop us a line, feel free to email us at justsayinghi@defriendalize.com.</li>
		<li class="answer">If you have some useful feedback, please email us at goodfeedback@defriendalize.com.</li>
		<li class="answer">If you are a designer and have an extra design laying around that you don't mind giving away, please let us know on yourwebdesignisugly@defriendalize.com.  If we use it we will give you the credit you deserve.</li>
		<li class="answer">Cheers!</li>
	</ul>
</div>
