<% title "Frequently Addressed Quandries" -%>
<div class="friend_list_holder">
<h1><%= yield :title -%></h1>
<ul class="faq_list">
	<li class="faq_question">Will you do my laundry for me?  I'm super busy right now.</li>
	<li class="answer">Sorry, but no.  Lots of laundromats have a service for that these days.</li>
	<li class="faq_question">OK, I'm here.  What am I supposed to do?</li>
	<li class="answer">We allow you to track your current friends list to see who, if anyone, has de-friended you since you last logged into our site.  Simply login with Facebook by clicking the (appropriately titled) "Login with Facebook" image in the upper-right-hand corner of any page on the site.  If it says "Sign Out" that means you've already logged in, or you're using someone else's account.</li>
	<li class="faq_question">So you can't tell who has de-friended me prior to when I originally logged into the site?</li>
	<li class="answer">Unfortunately, that's right.  Facebook don't currently offer a way to find the changes in your friend list prior to your original sign in to our site.  You can keep track of who de-friends you from now on, though.  That's gotta be worth something.</li>
	<li class="faq_question">What is your favorite hangover cure?</li>
	<li class="answer">Pedialyte.  Half the bottle before you go to bed, and the other half when you wake up.  Leaves you feeling like a daisy.</li>
	<li class="faq_question">So....I can track the changes in my friends list?  How does it work?</li>
	<li class="answer">First, you log in using the Login with Facebook link.  Once you approve our application to access your information, we store your friend list, so we can compare against that for your future logins.  When a change is found, it is added to your list of "Friend Changes" on your connections page.  It is important to note that if you have any friends who have turned off ALL Facebook applications, they will not show up in your friends list on our site.</li>
	<li class="faq_question">So I can find out who has de-friended me?  Why would I need to know that?</li>
	<li class="answer">You don't need to know it, but a lot of people like knowing what is happening with their list of friends.  It can be interesting to know if someone has dropped you from their list of friends or simply canceled their account altogether.</li>
	<li class="faq_question">I know, right?</li>
	<li class="answer">That's not a question.</li>
	<li class="faq_question"><a name="logout_buttons"></a>I've logged in.  Why do I see two log-out links right next to each other?</li>
	<li class="answer">The first link is to log out of Defriendalize.com.  The second link is to log out of Facebook AND Defriendalize.com.  Use the 2nd link if you're on a public computer and you're done using Facebook.</li>
	<li class="faq_question">What if someone has canceled their Facebook account?  Can I tell a difference between that and a run-of-the-mill de-friending?</li>
	<li class="answer">If someone has canceled their Facebook account, that account will appear in your list of changes as "Canceled" rather than "Defriended".</li>
	<li class="faq_question">When does your server take over all of your users' computers and launch a massive DDoS attack on Microsoft?</li>
	<li class="answer">We're a legitimate application, not spam or malware.  We'll never take over your computer or steal your credit card information.  Actually, if you're ever prompted to put your credit card information into our site, something very wrong is going on.</li>
	<li class="faq_question">Facebook says I have more friends than you show on my profile.  Why The Face?</li>
	<li class="answer">If you have any friends who have blocked ALL Facebook apps, they will not appear in our list.  This may lead to false signals due to friends blocking all apps or lifting said block.</li>
	<li class="faq_question">What if I want to delete my account?  Do you keep my friend data?</li>
	<li class="answer">No.  If you want to delete your account on our site, we immediately remove all of your data from our database.  Keep in mind that if you delete your account, we are no longer tracking your friend list and so therefore cannot show you who has been removed from your friend list.</li>
	<li class="faq_question">No, I meant my Facebook account.  Can you go ahead and delete that for me?  That'd be super.</li>
	<li class="answer">No, I'm sorry we can't do that for you.  If you'd like to delete your Facebook account, you must go to <%= link_to 'Facebook.com', 'http://www.facebook.com' -%> and delete it yourself.</li>
	<li class="faq_question">In that case, will you do my laundry?</li>
	<li class="answer">No.  Don't ask again.</li>
	<li class="faq_question">Touchy...is there anything I can do to help?</li>
	<li class="answer">You can help us out by sharing the site with your friends.  There are Facebook and Twitter sharing buttons littered all over the site (like HERE and HERE) so if you do that, we'd be grateful.</li>
</ul>
</div>