<% if session[:user_id] -%>
  <div class="friend_list_holder">
	<%= render :partial => "/defriend/friend_list", :locals => { :connections => @connections, :queued => @queued, :timing => @timing} -%>
  </div>

<% else -%>
	<% title "Welcome to Defriendalize"%>
	<h2>Login to track your friend list</h2>
	<div class="friend_list_holder">
		<p>
			Defriendalize is a project built to track changes to your friend list.  Have you ever wondered why your number of friends has decreased?  Do you want to know the culprit?  With Defriendalize, you can do just that.  Simply <%= link_to 'Login with Facebook', '/session/facebook_login' -%> and we'll start tracking your list of friends, and we'll send you periodic updates to let you know what's happening.  
		</p>
		
		<ul class='change_list'>
			<li class="profile_info">
				Your friend list activity for the last 30 days:
			</li>
			<li>
				<div class="notice_item">
				<span class="notice_item"></span>
					Johnny Chimpo:<br />
					Reactivated Account
				</div>
				<div class="clear"></div>
			</li>
			<li>
				<div class="error_item">
				<span class="error_item"></span>
					Sparky McTalksalot:<br />
					Defriended
				</div>
				<div class="clear"></div>
			</li>
			<li>
				<div class="notice_item">
				<span class="notice_item"></span>
					Cosmo Kramer:<br />
					New Connection
				</div>
				<div class="clear"></div>
			</li>
			<li>
				<div class="warning_item">
				<span class="warning_item"></span>
					Nicholas Angle:<br />
					Canceled Account or Changed Privacy Settings
				</div>
				<div class="clear"></div>
			</li>
			
			<li>
				<div class="notice_item">
				<span class="notice_item"></span>
					Louis Winthorpe III:<br />
					Refriended
				</div>
				<div class="clear"></div>
			</li>
		</ul>

		<p>
			Keep in mind that we can't tell you who has already defriended you - there isn't a way for anyone to tell you that other than Facebook.  We can only start tracking your friend list and keep you updated and informed from the time you sign up.
		</p>
		<p>
			We are well aware our <%= link_to 'web design is crap', '/FAQ#logout_buttons' -%>.  If you are a designer and have an extra design laying around that you don't mind giving away, please let us know.  If we use it we will give you the credit you deserve.
		</p>
	</div>
<% end %>