<div class="left-nav-holder">
	<div class="left-nav-button">
		<%= link_to 'Friend List Tracker', users_path -%>
	</div>
	<div class="left-nav-button">
		<%= link_to 'News Feed Search', search_index_path -%>
	</div>
	<div class="left-nav-button">
		Profile Stats
	</div>
	<div class="left-nav-button">
		Friend Stats
	</div>
</div>
